<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="banner-std">
    <div class="jumbotron jumbotron-fluid mb-0" style="background-image: url('/images/banner.jpg');">
        <p class="display-4 text-white ml-4"><i class="logo-obidex align-text-bottom m-n1"></i>bidex.com</p>
        <p class="lead text-white ml-4">Portfolio website by Matthew Ifould</p>
    </div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-3">
        <a class="navbar-brand" href="#" th:href="@{~/}">Home</a>
        <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
                class="navbar-toggler"
                data-target="#navbarSupportedContent" data-toggle="collapse" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item" th:classappend="${#httpServletRequest.requestURI.contains('console')} ? active">
                    <a class="nav-link" href="#" th:href="@{/console}">Console DB</a>
                </li>
                <li class="nav-item" th:classappend="${#httpServletRequest.requestURI.contains('portfolio')} ? active">
                    <a class="nav-link" href="#" th:href="@{/portfolio}">Portfolio</a>
                </li>
                <li class="nav-item" th:classappend="${#httpServletRequest.requestURI.contains('bookmark')} ? active">
                    <a class="nav-link" href="#" th:href="@{/bookmarks}">Bookmarks</a>
                </li>
            </ul>
            <form class="form-inline">
                <div class="input-group" sec:authorize="isAuthenticated()">
                    <a class="btn btn-primary" href="/logout" role="button">Logout</a>
                </div>
            </form>
            <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown"
               href="#" id="navbarDropdown" role="button" sec:authorize="!isAuthenticated()">
                Login
            </a>
            <div aria-labelledby="navbarDropdown" class="dropdown-menu dropdown-menu-right">
                <form action="/login" class="px-4 py-3" method="post">
                    <input th:attr="name=${_csrf.parameterName},value=${_csrf.token}" type="hidden"/>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="username">Username</span>
                            </div>
                            <input aria-describedby="basic-addon1" aria-label="Username" class="form-control"
                                   name="username"
                                   placeholder="Username" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="password">Password</span>
                            </div>
                            <input aria-describedby="basic-addon1" aria-label="Password" class="form-control"
                                   name="password"
                                   placeholder="Password" type="password">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <input aria-label="Remember Me?" type="checkbox">
                                </div>
                            </div>
                            <input aria-label="Remember Me?" class="form-control" readonly="true" type="text"
                                   value="Remember Me?">
                        </div>
                    </div>
                    <div class="form-group mb-0">
                        <div class="input-group">
                            <input class="btn btn-primary btn-block" type="submit" value="Login">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </nav>
</div>
</body>
</html>