<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>...</title>
    ...
</head>
<body>
<footer class="footer mt-3" th:fragment="footer-std">
    <div class="p-3" style="background-image: url('/images/banner.jpg'); background-size: cover;">
        <p class="h3 text-white">&#169; Matthew Ifould 2020</p>
        <div class="lead text-white" sec:authorize="isAuthenticated()">
            Authenticated as <span sec:authentication="name"></span>
            <br>
            Level = <span sec:authentication="principal.authorities"></span>
        </div>
    </div>
</footer>
</body>
</html>