<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header-std">
    <meta charset="UTF-8">
    <title>Console Page</title>
</head>
<body>
<div th:replace="fragments/banner :: banner-std">
</div>
<div th:if="${message}">
    <h2 th:text="${message}"/>
</div>
<div class="p-5">
    <form action="/portfolio/add" class="needs-validation" enctype="multipart/form-data" method="post" novalidate
          th:object="${portfolio}">
        <input th:attr="name=${_csrf.parameterName},value=${_csrf.token}" type="hidden"/>
        <input th:attr="name=id,value=${id}" type="hidden"/>
        <div class="form-group">
            <label for="title">Title</label>
            <input class="form-control" id="title" required th:field="*{title}" type="text">
            <div class="invalid-feedback">Please enter a title.</div>
        </div>
        <div class="form-group col-md-6">
        </div>
        <div class="form-group">
            <div class="custom-control custom-switch"
                 th:each="tech_item : ${T(com.obidex.webserver.model.Tech).values()}">
                <input class="custom-control-input" th:field="*{tech}" th:id="${tech_item}" th:value="${tech_item}"
                       type="checkbox">
                <label class="custom-control-label" th:for="${tech_item}" th:text="${tech_item.name}">
                    Check me out
                </label>
            </div>
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <textarea class="form-control" id="description" required
                      rows="5" th:field="*{description}"></textarea>
            <div class="invalid-feedback">Please enter a description.</div>
        </div>
        <div class="form-group">
            <label for="githubLink">Github link</label>
            <input class="form-control" id="githubLink" name="githubLink" placeholder="http://github.com/"
                   required th:field="*{githubLink}" type="text">
            <div class="invalid-feedback">Please enter a Github link.</div>
        </div>
        <div th:text="${images}">test</div>
        <div class="form-group" th:if="${not #lists.isEmpty(portfolio.images)}">
            <label>Image Urls</label>
            <th:block th:each="image, iStat : *{images}">
                <input class="form-control" th:field="*{images[__${iStat.index}__]}" type="text">
            </th:block>
        </div>
        <div class="custom-file mb-3" th:if="${#lists.isEmpty(portfolio.images)}">
            <input class="custom-file-input" id="files" multiple name="files" type="file">
            <label class="custom-file-label" for="files">Choose file</label>
        </div>
        <div class="form-group">
            <button class="btn btn-primary" type="submit">Add Portfolio</button>
        </div>
    </form>
</div>
<footer th:replace="fragments/footer :: false ? 'footer-admin' : 'footer-std'">
    ...
</footer>
</body>
</html>