<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header-std">
    <meta charset="UTF-8">
    <title>Console Page</title>
</head>
<body>
<div th:replace="fragments/banner :: banner-std">
</div>
<div class="card" style="width: 36rem;">
    <img alt="..." class="card-img-top" src="..." th:src="${console.photoUrl}">
    <div class="card-body">
        <h5 class="card-title" th:text="${console.name}">Console Name</h5>
        <h6 class="card-subtitle mb-2 text-muted" th:text="${console.brand}">Card subtitle</h6>
        <p class="card-text" th:text="${console.description}">Some quick example text to build on the card title and
            make up the bulk of the card's content.</p>
        <a class="btn btn-primary" href="#" th:href="@{/console/{id}(id=${console.consoleId})}">Go somewhere</a>
    </div>
</div>
<footer th:replace="fragments/footer :: false ? 'footer-admin' : 'footer-std'">
    ...
</footer>
</body>
</html>