<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header-std">
    <meta charset="UTF-8">
    <title>Root Page</title>
</head>
<body>
<div th:replace="fragments/banner :: banner-std">
</div>
<div class="container">
    <div class="alert alert-info">
        <h3>Introduction</h3>
        <p>
            My name is Matthew Ifould, I am a Software Engineering graduate from the <a
                href="https://www.brighton.ac.uk/">University of Brighton</a>.
        </p>
        <p>
            I have been working in sales and supervisory roles since I left university but I recently decided to leave
            my job to re-educate myself in software engineering with a goal of getting a position as an software
            developer. Since then I have spent typical working hours learning new technologies using online resources.
            In
            addition to this I have been updating my existing skills in programming languages I was already familiar
            with. I have
            completed several online courses and certifications during this time. I have also been developing hobby
            projects using this acquired knowledge, which are available to view in the <a
                href="/portfolio">portfolio</a>
            section of this website.
        </p>
        <p>
            I have taken a particular interest in web development and decided to learn the the Flutter framework and
            Dart language to simultaneously develop native applications for the IOS and Android platforms. I have used
            various libraries and APIs to develop several applications giving me a good understanding of reactive
            development, responsive design as well as exposure to many multi-platform tools and resources. I am however
            still interested in expanding my knowledge in this area.
        </p>
        <p>
            From here I have continued to expand my full-stack knowledge following a web-developer <a href="/roadmap">roadmap</a>.
            I have developed my existing JavaScript knowledge to ES6+ and gained familiarity with Node.js, Express, NPM,
            Jest, Vue, React and others.
        </p>
        <p>
            One of my aims while educating myself was to get a broader understanding of fundamentals, architectures and
            design patterns which is why I decided to learn the Spring Framework, this has given me knowledge of many
            new (to me at least) concepts, such as Microservices, Inversion of Control, MVC, ORM, RESTful services. I
            used the Spring framework to develop this website and several services within.
        </p>

        <h5 class="font-weight-bold">Languages & Technologies</h5>
        <ul>
            <li>Java</li>
            <li>Python</li>
            <li>Dart</li>
            <li>JavaScript</li>
            <li>MongoDB & SQL</li>
            <li>HTML & CSS</li>
            <li>AWS, Google Cloud & Firebase</li>
        </ul>
        <h5 class="font-weight-bold">Libraries & Frameworks</h5>
        <ul>
            <li>Java:
                <ul>
                    <li>Spring: MVC, Web, Security, Swagger, Actuator</li>
                    <li>Thymeleaf</li>
                    <li>JUnit</li>
                    <li>Lombok</li>
                    <li>Gradle</li>
                    <li>Maven</li>
                </ul>
            </li>
            <li>JavaScript:
                <ul>
                    <li>Node.js</li>
                    <li>Express</li>
                    <li>Jest</li>
                    <li>JQuery</li>
                    <li>React</li>
                    <li>Vue</li>
                </ul>
            </li>
            <li>Flutter:
                <ul>
                    <li>Firebase Cloud Firestore</li>
                    <li>Firebase Auth</li>
                    <li>Firebase ML</li>
                    <li>Firebase Auth</li>
                </ul>
            </li>
            <li>Others:
                <ul>
                    <li>Bootstrap</li>
                    <li>Bulma</li>
                    <li>Materialize</li>
                </ul>
            </li>
        </ul>

        <h3>Matthew Ifould BSc (Hons) Software Engineering</h3>
        <a href="mailto:matti@obidex@@com" onmouseover="this.href=this.href.replace('@@','.')">
            <span class="far fa-3x fa-border fa-envelope"></span>
        </a>
        <a href="https://www.linkedin.com/in/matthew-ifould-84809b1b5/">
            <span class="fab fa-3x fa-border fa-linkedin-in"></span>
        </a>
        <a href="https://www.github.com/ifouldm">
            <span class="fab fa-3x fa-border fa-github"></span>
        </a>
    </div>
    <div class="list-group">
        <a class="list-group-item list-group-item-action nounderline" href="#" th:href="@{/console}">
            Console Database
        </a>
        <a class="list-group-item list-group-item-action nounderline" href="#" th:href="@{/bookmarks}">Bookmarks</a>
        <a class="list-group-item list-group-item-action nounderline" href="#" th:href="@{/portfolio}">Portfolio</a>
        <a class="list-group-item list-group-item-action nounderline" href="#" th:href="@{/movieLinker}">Movie
            Linker</a>
        <a class="list-group-item list-group-item-action nounderline" href="#" th:href="@{http://chess.obidex.com}">Chess</a>
    </div>
</div>
<footer th:replace="fragments/footer :: false ? 'footer-admin' : 'footer-std'">
    ...
</footer>
</body>
</html>