<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header-std">
    <meta charset="UTF-8">
    <title>Console Page</title>
</head>
<body>
<div th:replace="fragments/banner :: banner-std">
</div>
<div th:if="${message}">
    <h2 th:text="${message}"/>
</div>
<div>
    <form action="/upload" enctype="multipart/form-data" method="POST">
        <input th:attr="name=${_csrf.parameterName},value=${_csrf.token}" type="hidden"/>
        <table>
            <caption>File Upload</caption>
            <tr>
                <th>File</th>
                <th>.</th>
            </tr>
            <tr>
                <td>File to upload:</td>
                <td><input name="file" type="file"/></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Upload"/></td>
            </tr>
        </table>
    </form>
</div>
<div>
    <ul>
        <li th:each="file : ${files}">
            <a th:href="${file}" th:text="${file}"/>
            <img alt="..." class="img-thumbnail" src="..." th:src="${file}">
        </li>
    </ul>
</div>
<footer th:replace="fragments/footer :: false ? 'footer-admin' : 'footer-std'">
    ...
</footer>
</body>
</html>